<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kitchening</title>
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="">
        <nav>
            <ul>
                <li><a href="/views/home.html">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <div>
           <img src="/img/img-banner.jpg" alt="banner"> 
        </div>
        <div>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="producto">
                    <img src="/img/img-nuevo.png" alt="new">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptate nobis at qui tempore</p>
                <button>Ver mas</button>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="producto2">
                    <img src="/img/img-gratis.png" alt="free">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptate nobis at qui tempore</p>
                <button>Ver mas</button>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="producto3">
                    <img src="/img/img-descuento.png" alt="off">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptate nobis at qui tempore</p>
                <button>Ver mas</button>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="producto">
                    <img src="/img/img-nuevo.png" alt="new">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptate nobis at qui tempore</p>
                <button>Ver mas</button>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="producto2">
                    <img src="/img/img-gratis.png" alt="free">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptate nobis at qui tempore</p>
                <button>Ver mas</button>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="producto3">
                    <img src="/img/img-descuento.png" alt="off">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptate nobis at qui tempore</p>
                <button>Ver mas</button>
            </article>
        </div>        
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="/views/home.html">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>